*{
    margin: 0;
    padding: 0;
    }
    .con{
        width: 1200px;
        margin: auto;
        border: 1px solid #000;
    }
    .nav{
        width: 1200px;
        height: 60px;
        background-color: rgb(217, 233, 74);
        margin: auto;
    }
    .nav ul{
        margin: auto;
        width: 1050px;
        height: 60px;
        display: flex;
        text-align: center;
        list-style: none;
    }
    
    .nav ul li{
        width: 150px;
        height: 60px;
    }
    .nav ul li:hover{
    
        background-color: antiquewhite;
    }
    .nav ul li a{
        width: 100%;
        height: 100%;
        line-height: 60px;
        text-decoration: none;
        color: black;
    }
    .nav ul li a:hover{
        color: brown;
    }
    .header{
        width: 1200px;
        height: 600px;
        margin: auto;
    }
    .header img{
        width: 100%;
        height: 100%;
    }
    
    .content{
    
        width: 1200px;
        height: 1200px;
        margin: auto;
        margin-top: 20px;
    }
    .content .left{
        width: 400px;
        height: 1200px;
        
        float: left;
    }
    .content .left h1{
        width: 400px;
        height: 50px;
        font-weight: 400;
        line-height: 50px;
        text-indent: 30px;
        font-size: 36px;
        background: rgb(136, 236, 144);
    }
    .content .left p:nth-child(2){
        width: 380px;
        height: 130px;
        font-size: 46px;
        text-indent: 45px;
    }
    .content .left p:nth-child(3){
        width: 380px;
        font-size: 20px;
        text-align: right;
    }
    .content .left p{
        width: 380px;
        text-indent: 20px;
        margin-left: 20px;
        letter-spacing: 2px;
    }
    .content .right{
        width: 380px;
        height: 1200px;
        margin-left: 20px;
        float: left;
        letter-spacing: 2px;
    }
    .content .right img{
        width: 380px;
        height: 300px;
        margin: 0;
    }
    .content .right-2{
        width: 380px;
        height: 1200px;
        margin-left: 20px;
      
        float: left;
        letter-spacing: 2px;
    }
    .content .right-2 img{
        width: 380px;
        height: 300px;
        margin: 0;
    }
    .footer{
        width: 1200px;
        height: 60px;
        line-height: 60px;
        margin: auto;
        background-color: rgb(217, 233, 74);
        text-align: center;
    }